WinFormWCFServiceDemoUserInfo/Connected Services/ServiceReferenceDemoUser1/DemoUserInfoDBServiceWCF2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1558/DemoUserInfoDBServiceWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceDemoUserInformation" />
  <xs:element name="find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceDemoUserInformation" minOccurs="0" name="findResult" nillable="true" type="q1:UserInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceDemoUserInformation" minOccurs="0" name="findAllResult" nillable="true" type="q2:ArrayOfUserInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>