WinFormWCFServiceDemoUserInfo/Connected Services/ServiceReferenceDemoUser1/DemoUserInfoDBServiceWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DemoUserInfoDBServiceWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1558/DemoUserInfoDBServiceWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1558/DemoUserInfoDBServiceWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1558/DemoUserInfoDBServiceWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceDemoUserInformation" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDemoUserInfoDBServiceWCF_find_InputMessage">
    <wsdl:part name="parameters" element="tns:find" />
  </wsdl:message>
  <wsdl:message name="IDemoUserInfoDBServiceWCF_find_OutputMessage">
    <wsdl:part name="parameters" element="tns:findResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoUserInfoDBServiceWCF_findAll_InputMessage">
    <wsdl:part name="parameters" element="tns:findAll" />
  </wsdl:message>
  <wsdl:message name="IDemoUserInfoDBServiceWCF_findAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoUserInfoDBServiceWCF_insert_InputMessage">
    <wsdl:part name="parameters" element="tns:insert" />
  </wsdl:message>
  <wsdl:message name="IDemoUserInfoDBServiceWCF_insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoUserInfoDBServiceWCF_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="IDemoUserInfoDBServiceWCF_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="IDemoUserInfoDBServiceWCF_Edit_InputMessage">
    <wsdl:part name="parameters" element="tns:Edit" />
  </wsdl:message>
  <wsdl:message name="IDemoUserInfoDBServiceWCF_Edit_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditResponse" />
  </wsdl:message>
  <wsdl:portType name="IDemoUserInfoDBServiceWCF">
    <wsdl:operation name="find">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoUserInfoDBServiceWCF/find" message="tns:IDemoUserInfoDBServiceWCF_find_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoUserInfoDBServiceWCF/findResponse" message="tns:IDemoUserInfoDBServiceWCF_find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoUserInfoDBServiceWCF/findAll" message="tns:IDemoUserInfoDBServiceWCF_findAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoUserInfoDBServiceWCF/findAllResponse" message="tns:IDemoUserInfoDBServiceWCF_findAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoUserInfoDBServiceWCF/insert" message="tns:IDemoUserInfoDBServiceWCF_insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoUserInfoDBServiceWCF/insertResponse" message="tns:IDemoUserInfoDBServiceWCF_insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoUserInfoDBServiceWCF/delete" message="tns:IDemoUserInfoDBServiceWCF_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoUserInfoDBServiceWCF/deleteResponse" message="tns:IDemoUserInfoDBServiceWCF_delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <wsdl:input wsaw:Action="http://tempuri.org/IDemoUserInfoDBServiceWCF/Edit" message="tns:IDemoUserInfoDBServiceWCF_Edit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDemoUserInfoDBServiceWCF/EditResponse" message="tns:IDemoUserInfoDBServiceWCF_Edit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDemoUserInfoDBServiceWCF" type="tns:IDemoUserInfoDBServiceWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="find">
      <soap:operation soapAction="http://tempuri.org/IDemoUserInfoDBServiceWCF/find" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <soap:operation soapAction="http://tempuri.org/IDemoUserInfoDBServiceWCF/findAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insert">
      <soap:operation soapAction="http://tempuri.org/IDemoUserInfoDBServiceWCF/insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/IDemoUserInfoDBServiceWCF/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Edit">
      <soap:operation soapAction="http://tempuri.org/IDemoUserInfoDBServiceWCF/Edit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DemoUserInfoDBServiceWCF">
    <wsdl:port name="BasicHttpBinding_IDemoUserInfoDBServiceWCF" binding="tns:BasicHttpBinding_IDemoUserInfoDBServiceWCF">
      <soap:address location="http://localhost:1558/DemoUserInfoDBServiceWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>