WinFormWCFServiceDemoUserInfo/Connected Services/ServiceReferenceDemoUser1/DemoUserInfoDBServiceWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceDemoUserInformation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceDemoUserInformation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInformation" nillable="true" type="tns:UserInformation" />
  <xs:complexType name="ArrayOfUserInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserInformation" nillable="true" type="tns:UserInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserInformation" nillable="true" type="tns:ArrayOfUserInformation" />
</xs:schema>